<div class="table-responsive">
    <table class="table table-striped table-bordered m-0">
        <tbody class="text-center">
            {% for row in matrix.get_matrix %}
                <tr>

                    {% for col in row %}
                        {% if forloop.last and flag %}
                            <td {% if forloop.parentloop.first %}style="width:1%;"{% endif %}><strong>{{col}}</strong></td>
                        {% else %}
                            <td {% if forloop.parentloop.first %}style="width:1%;"{% endif %}>{{col}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>