<div class="row" style="margin-bottom: 10px;">
	<div class="col-12 col-lg-10 mb-3 mb-lg-0">
		<input  type="text" id="{{ group_form.name.id_for_label }}"
				name="{{ group_form.name.html_name }}"
				maxlength="{{ group_form.name.field.max_length }}"
				placeholder="{{ group_form.name.label }}"
				class="form-control"
				value="{{ group_form.name.value|default_if_none:'' }}"
				required >
		{{ group_form.name.errors }}
	</div>
	<div class="col-6 col-lg-1 text-center">
		<button type="submit" aria-hidden="true" data-toggle="tooltip" title="Сохранить" class="btn btn-primary w-100">
			<i class="fa fa-floppy-o"></i>
		</button>
	</div>
	<div class="col-6 col-lg-1 text-center">
		<button aria-hidden="true" data-toggle="tooltip" title="Отмена" class="btn btn-danger btn-cancel-group w-100">
			<i class="fa fa-window-close"></i>
		</button>
	</div>
</div>